/* Container for the overall layout */
.box-selection-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  justify-content: center; /* Align groups evenly in the center */
  text-align: center;
}
.selection-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

/* Title styling */
.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #9c7945;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #9c7945;
  margin: 10px auto 0 auto; /* Center the underline */
}

/* sub-title styling */
.sub-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #444;
  text-align: start;
}

/* Container for both radio and checkbox groups in a row */
.selectionGroup {
  display: flex;
  flex-direction: row; /* Display groups in a row */
  justify-content: space-evenly; /* Evenly space between the groups */
  margin-top: 20px;
  width: 100%;
}

/* Radio group styling - Vertical stack */
.radio-group {
  display: flex;
  flex-direction: column; /* Stack radio buttons vertically */
  margin-bottom: 20px;
  align-items: flex-start; /* Align items to the start of each group */
}

/* Styling for each radio button and label */
.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.radio {
  margin-right: 10px;
}

/* Checkbox group styling - Vertical stack */
.checkbox-group {
  display: flex;
  flex-direction: column; /* Stack checkboxes vertically */
  margin-bottom: 20px;
  align-items: flex-start; /* Align items to the start of each group */
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.label {
  font-size: 16px;
  color: #555;
}
