.container {
  text-align: center;
  padding: 20px;
  background-color: black;
}

.logo {
  max-width: 550px;
  margin-bottom: 20px;
}

.mission-statement {
  font-size: 18px;
  width: 800px;
  margin: 20px 0;
  color: #b1b1b1;
  text-wrap: wrap;
}

.getting-started {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #45689c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10%;
}

.getting-started:hover {
  background-color: #0056b3;
}
