.packaging-container {
  width: 75%;
  margin: 5px auto;
  padding: 20px;
  background-color: #fff;

  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pack-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #45689c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.pack-button:hover {
  background-color: #3a557e;
}

.pack-button:disabled {
  background-color: #d6d6d6;
  color: #a0a0a0;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

.pack-button:disabled:hover {
  background-color: #d6d6d6;
  color: #a0a0a0;
  cursor: not-allowed;
}
